# Trabajo Integrador 4

## Avance 1

In [1]:
#Importación de bibliotecas 
import numpy as np 
import pandas as pd

In [2]:
# Importar y leer el archivo de data_latinoamerica.csv
data_latinoamerica='C:\\Users\\Work\\Downloads\\Henry Ori\\data_latinoamerica.csv'
df_latinoamerica=pd.read_csv(data_latinoamerica,sep=(','))
#Verificar la correcta importacion con las primeras filas del archivo
df_latinoamerica.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2020-01-01,AR,Argentina,3.0,0.0,3.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
1,AR,2020-01-02,AR,Argentina,14.0,0.0,17.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
2,AR,2020-01-03,AR,Argentina,3.0,0.0,20.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
3,AR,2020-01-04,AR,Argentina,7.0,0.0,27.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
4,AR,2020-01-05,AR,Argentina,5.0,0.0,32.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN

In [3]:
! pip freeze> requirements.txt

In [4]:
#Analizo la cantidad de rows que tiene el data set
np.shape(df_latinoamerica)

(12216057, 50)

Para el objetivo del proyecto, hay que trabajar solo con 6 países: Argentina, Chile, Colombia, Mexico, Perú, Brasil.

In [6]:
paises_proyecto= ['Argentina','Chile','Colombia','Mexico','Peru','Brazil']
data_latinoamerica=df_latinoamerica[df_latinoamerica['country_name'].isin(paises_proyecto)]
# isin filtra la columna country name a partir de la lista con los paises seleccionados

In [7]:
#Verifico si el numero de rows disminuye por el filtrado realizado
np.shape(data_latinoamerica)

(11970289, 50)

In [8]:
#Verifico la cantidad de nulos o valores faltantes en las columnas
data_latinoamerica.isnull().sum()[data_latinoamerica.isnull().sum()>4000000]
#Entre corchetes hago una mascara que va a filtrar la suma de valores nulos por colummna, y solo va a mostrar cuando
#los nulos son superiores a los 4000000,lo que es un valor preocupante de datos faltantes

new_confirmed                             5620283
new_deceased                              5661788
cumulative_confirmed                      5619937
cumulative_deceased                       5661426
cumulative_vaccine_doses_administered    11706131
population_rural                         11964343
population_urban                         11964343
population_density                       11964343
human_development_index                   6472221
gdp_usd                                  11963352
gdp_per_capita_usd                       11962361
smoking_prevalence                       11964343
diabetes_prevalence                      11964343
infant_mortality_rate                    11964343
nurses_per_1000                          11964343
physicians_per_1000                      11964343
population_largest_city                  11964343
area_rural_sq_km                         11964343
area_urban_sq_km                         11964343
life_expectancy                          11964343
adult_male_mortality_rate                11964343
adult_female_mortality_rate              11964343
pollution_mortality_rate                 11964343
comorbidity_mortality_rate               11964343
new_recovered                             9873535
cumulative_recovered                      9874368
dtype: int64

In [10]:
#Realizo un nuevo filtrado a partir de location_key, utilizando solo las instancias de AR,CL,CO,MX,PE,BR
data_paises_latinoamerica=data_latinoamerica[data_latinoamerica['location_key'].isin(['AR','CO','CL','MX','PE','BR'])]

In [11]:
#Verifico si disminuyeron el número de rows
np.shape(data_paises_latinoamerica)

(5946, 50)

In [12]:
#Filtro la data de los países seleccionados a partir de la fecha 2021-01-01
data_latinoamerica_fecha= data_paises_latinoamerica[data_paises_latinoamerica['date']>'2021-01-01']

In [13]:
#Verifico la disminucion del número de rows
np.shape(data_latinoamerica_fecha)

(3744, 50)

In [72]:
#Conteo de valores nulos en la variable de las fechas seleccionadas para su posterior eliminación corrección
valores_nulos_fecha=data_latinoamerica_fecha.isnull().sum()[data_latinoamerica_fecha.isnull().sum()>0]
print(valores_nulos_fecha)

new_confirmed                              21
new_deceased                               21
cumulative_confirmed                       21
cumulative_deceased                        21
cumulative_vaccine_doses_administered     584
average_temperature_celsius                42
minimum_temperature_celsius                41
maximum_temperature_celsius                41
rainfall_mm                                90
relative_humidity                          42
new_recovered                            2116
cumulative_recovered                     2736
dtype: int64

Usar bucles for para completar con datos de la media los datos nulos de las columnas para cada país

In [14]:
for pais in  paises_proyecto:
 data_latinoamerica_fecha['new_confirmed']=data_latinoamerica_fecha['new_confirmed'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['new_confirmed'].mean())
 data_latinoamerica_fecha['new_deceased']=data_latinoamerica_fecha['new_deceased'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['new_deceased'].mean())
 data_latinoamerica_fecha['cumulative_confirmed']=data_latinoamerica_fecha['cumulative_confirmed'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['cumulative_confirmed'].mean())
 data_latinoamerica_fecha['cumulative_deceased']=data_latinoamerica_fecha['cumulative_deceased'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['cumulative_deceased'].mean())
 data_latinoamerica_fecha['cumulative_vaccine_doses_administered']=data_latinoamerica_fecha['cumulative_vaccine_doses_administered'].fillna(0)
 data_latinoamerica_fecha['average_temperature_celsius']=data_latinoamerica_fecha['average_temperature_celsius'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['average_temperature_celsius'].mean())
 data_latinoamerica_fecha['minimum_temperature_celsius']=data_latinoamerica_fecha['minimum_temperature_celsius'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['minimum_temperature_celsius'].mean())
 data_latinoamerica_fecha['maximum_temperature_celsius']=data_latinoamerica_fecha['maximum_temperature_celsius'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['maximum_temperature_celsius'].mean())
 data_latinoamerica_fecha['rainfall_mm']=data_latinoamerica_fecha['rainfall_mm'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['rainfall_mm'].mean())
 data_latinoamerica_fecha['relative_humidity']=data_latinoamerica_fecha['relative_humidity'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['relative_humidity'].mean())
 data_latinoamerica_fecha['new_recovered']=data_latinoamerica_fecha['new_recovered'].fillna(0)
 data_latinoamerica_fecha['cumulative_recovered']=data_latinoamerica_fecha['cumulative_recovered'].fillna(0)

#En el caso de las dosis suministradas, y el acumulado de estas dosis, si no se poseen datos, se rellena con 0 porque se considera que no se han suministrado dosis

C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['new_confirmed']=data_latinoamerica_fecha['new_confirmed'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['new_confirmed'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['new_deceased']=data_latinoamerica_fecha['new_deceased'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['new_deceased'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['cumulative_confirmed']=data_latinoamerica_fecha['cumulative_confirmed'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['cumulative_confirmed'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['cumulative_deceased']=data_latinoamerica_fecha['cumulative_deceased'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['cumulative_deceased'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['cumulative_vaccine_doses_administered']=data_latinoamerica_fecha['cumulative_vaccine_doses_administered'].fillna(0)
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['average_temperature_celsius']=data_latinoamerica_fecha['average_temperature_celsius'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['average_temperature_celsius'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['minimum_temperature_celsius']=data_latinoamerica_fecha['minimum_temperature_celsius'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['minimum_temperature_celsius'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['maximum_temperature_celsius']=data_latinoamerica_fecha['maximum_temperature_celsius'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['maximum_temperature_celsius'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['rainfall_mm']=data_latinoamerica_fecha['rainfall_mm'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['rainfall_mm'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['relative_humidity']=data_latinoamerica_fecha['relative_humidity'].fillna(data_latinoamerica_fecha[data_latinoamerica_fecha['country_name']==pais]['relative_humidity'].mean())
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['new_recovered']=data_latinoamerica_fecha['new_recovered'].fillna(0)
C:\Users\Work\AppData\Local\Temp\ipykernel_14916\1357597526.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_latinoamerica_fecha['cumulative_recovered']=data_latinoamerica_fecha['cumulative_recovered'].fillna(0)

In [15]:
#Finalmente verificamos nuevamente las registros vacios y el tamaño del nuevo data set
print(np.shape(data_latinoamerica_fecha))
print(data_latinoamerica_fecha.isnull().sum()[data_latinoamerica_fecha.isnull().sum()>0])

(3744, 50)
Series([], dtype: int64)

In [75]:
#Guardar los datos filtrados en un archivo csv para en su posterior uso, no tener que volver a realizar la limpieza
data_latinoamerica_fecha.to_csv('DatosFinalesFiltrados.csv',index=False)

In [16]:
#Guarda el archivo filtrado en una variable
data_latinoamerica_filtrada=('C:\\Users\\Work\\Downloads\\Henry Ori\\Proyecto Integrador\\DatosFinalesFiltrados.csv')
df_latinoamerica_filtrada=pd.read_csv(data_latinoamerica_filtrada)
df_latinoamerica_filtrada.head()

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2021-01-02,AR,Argentina,7767.0,166.0,1670634.0,46688.0,20334.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
1,AR,2021-01-03,AR,Argentina,4934.0,157.0,1675568.0,46845.0,20529.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
2,AR,2021-01-04,AR,Argentina,13953.0,157.0,1689521.0,47002.0,25164.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
3,AR,2021-01-05,AR,Argentina,14085.0,160.0,1703606.0,47162.0,29852.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0
4,AR,2021-01-06,AR,Argentina,14496.0,131.0,1718102.0,47293.0,34162.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,0.0,0.0

In [17]:
#Análisis estadístico del dataset
df_latinoamerica_filtrada.describe()

,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,population_male,population_female,population_rural,population_urban,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
count,3744.000000,3744.000000,3.744000e+03,3744.000000,3.744000e+03,3.744000e+03,3.744000e+03,3.744000e+03,3.744000e+03,3.744000e+03,...,3.744000e+03,3.744000e+03,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3744.000000,3.744000e+03
mean,13930.531008,276.363237,6.780429e+06,192646.443778,6.544474e+07,7.772147e+07,3.787035e+07,3.927162e+07,1.255498e+07,6.833931e+07,...,1.443888e+07,2.636580e+06,59502.500000,76.808500,154.274667,81.428000,36.566667,14.816667,8263.612179,3.894398e+06
std,24205.550042,507.133193,7.977327e+06,182624.944321,9.247680e+07,6.713776e+07,3.318494e+07,3.448407e+07,1.008074e+07,5.829529e+07,...,5.710077e+06,2.584740e+06,45125.320206,1.597394,27.000146,11.800623,13.027569,1.665972,23049.011844,8.418383e+06
min,-573.000000,0.000000,9.710000e+02,1.000000,0.000000e+00,1.757400e+07,8.972014e+06,8.601989e+06,2.341903e+06,1.661014e+07,...,6.723516e+06,7.094180e+05,12027.000000,74.992000,107.669000,59.035000,25.300000,12.400000,-31119.000000,0.000000e+00
25%,1536.750000,26.000000,2.132216e+06,59390.500000,2.618297e+06,2.938188e+07,1.445076e+07,1.493113e+07,3.599141e+06,2.539034e+07,...,1.055471e+07,1.090598e+06,16425.000000,75.672000,146.370000,77.999000,26.600000,12.600000,0.000000,0.000000e+00
50%,5227.000000,101.000000,3.648782e+06,139496.500000,3.244576e+07,4.791080e+07,2.225416e+07,2.324582e+07,8.316128e+06,4.108344e+07,...,1.291832e+07,1.543881e+06,45582.000000,76.518000,149.351000,82.149000,33.300000,15.750000,0.000000,0.000000e+00
75%,14812.750000,311.000000,6.202104e+06,214877.250000,7.478108e+07,1.109920e+08,5.485523e+07,5.748131e+07,2.494867e+07,1.026269e+08,...,2.167191e+07,2.690269e+06,102418.000000,77.109000,184.379000,91.421000,37.000000,15.800000,1830.500000,2.136215e+06
max,298408.000000,11447.000000,3.456883e+07,685203.000000,3.478685e+08,2.125594e+08,1.044358e+08,1.081236e+08,2.780789e+07,1.832416e+08,...,2.184651e+07,8.241430e+06,134981.000000,80.042000,188.528000,95.815000,63.900000,16.600000,282957.000000,3.370623e+07